<!DOCTYPE html>
<html lang="en">
<head>
  <title></title>
  <meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
  <link rel="stylesheet" href="css/bootstrap.css">
<script src="/js/jquery.min.js"></script>
<script src="/js/jquery.Jcrop.min.js"></script>
  <script src="js/bootstrap.js"></script>
<script type="text/javascript">
  jQuery(function($){

    // Create variables (in this scope) to hold the API and image size
    var jcrop_api,
        boundx,
        boundy,

        // Grab some information about the preview pane
        $preview = $('#preview-pane'),
        $pcnt = $('#preview-pane .preview-container'),
        $pimg = $('#preview-pane .preview-container img'),
        xsize = $pcnt.width(),
        ysize = $pcnt.height();
    
//    console.log('init',[xsize,ysize]);
    $('#target').Jcrop({
      onChange: updatePreview,
      onSelect: updatePreview,
      aspectRatio: xsize / ysize
    },function(){
      // Use the API to get the real image size
      var bounds = this.getBounds();
      boundx = bounds[0];
      boundy = bounds[1];
      // Store the API in the jcrop_api variable
      jcrop_api = this;

      // Move the preview into the jcrop container for css positioning
      $preview.appendTo(jcrop_api.ui.holder);
    });

    function updatePreview(c)
    {
      if (parseInt(c.w) > 0)
      {
        var rx = xsize / c.w;
        var ry = ysize / c.h;
        $pimg.css({
          width: Math.round(rx * boundx) + 'px',
          height: Math.round(ry * boundy) + 'px',
          marginLeft: '-' + Math.round(rx * c.x) + 'px',
          marginTop: '-' + Math.round(ry * c.y) + 'px'
        });
      }
    }
  });
</script>
<link rel="stylesheet" href="/css/jquery.Jcrop.min.css" type="text/css" />
<style type="text/css">
#preview-pane{
  display: block;
  position: absolute;
  z-index: 2000;
  top: 10px;
  right: -280px;
  padding: 6px;
  border: 1px rgba(0,0,0,.4) solid;
  background-color: white;
}
#preview-pane .preview-container {
  width: 200px;
  height: 200px;
  overflow: hidden;
}
</style>
</head>
<body>
</div>
<img src="/avatar/<%=avatar%>" id="target" alt="[Jcrop Example]" />

<div id="preview-pane">
  <div class="preview-container">
    <img src="/avatar/<%=avatar%>" class="jcrop-preview" alt="Preview" />
  </div>
</div>
<!--自己添加的确认剪裁按钮-->
<input type="button" value="剪切" id="cut">
</div>
<script>
  //按钮触发事件
  $("#cut").on("click",function(){
  //获取节点jcrop-holder位置
    var width=parseInt($(".jcrop-holder>div:first-child").css("width"));
    var height=parseInt($(".jcrop-holder>div:first-child").css("height"));
    var left=parseInt($(".jcrop-holder>div:first-child").css("left"));
    var top=parseInt($(".jcrop-holder>div:first-child").css("top"));
    //发送ajax请求 将参数传入后台
    $.ajax({
        url:"/doCut",
        data:{
          "w":width,
          "h":height,
          "l":left,
          "t":top
        },
      success:function(result){
        window.location = "/";
    }
    })
  })
</script>
</body>
</html>

