<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录系统</title>
    <link rel="stylesheet" href="css/bootstrap.css">
    <style>
        .box{margin: 150px}
    </style>
</head>
<body>
<% include header.ejs%>
    <form class="form-horizontal">
        <div class="box">
                <h1>登录系统</h1>
            <h4>姓名</h4>
                <input type="text" id="username" name="username" placeholder="请输入用户名">
                <br>
           <h4>密码</h4>
                <input type="password" id="userpwd" name="userpwd" placeholder="至少六位">
                <br>
            <br>
                <input type="button" id="login" value="登录" class="btn btn-default btn-success">
        </div>
    </form>
<script src="js/jquery.min.js"></script>
    <script src="js/bootstrap.js"></script>
<script src="js/user.js"></script>
</body>
</html>