<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Document</title>
    <link rel="stylesheet" href="./css/bootstrap.css">
</head>
<body>
<% include header.ejs%>
<br>
<br>

<div class="container">
    <h1>更改头像:</h1>
    <!-- Example row of columns -->
    <div class="row col-lg-6">
        <form action="/doSetAvatar" method="post"  enctype="multipart/form-data" >
            <div class="form-group">
                <label for="avatar">用户头像</label>
                <input type="file" class="form-control" id="avatar" name="avatar">
            </div>
            <button type="submit" class="btn btn-default" id="upAvatar">上传</button>
        </form>
        <footer>
            <p>&copy; 2016 Company, Inc.</p>
        </footer>
    </div>
</div>
<script src="/js/jquery.min.js"></script>
<script src="/js/bootstrap.js"></script>

</body>
</html>